---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a CS student that's passionate about DSP, audio programming, learning various technologies, and Anime!
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Honours Computer Science"
      subtitle="Sept 2021 to May 2026 at McGill University, Montreal, Canada "
    />
    <TimeLineElement
      title="Exchange Program"
      subtitle="Sept 2023 to March 2024 at University of Tokyo, Tokyo, Japan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Internship"
      subtitle="May 2023 to Sept 2023 at Flojoy.ai, Montreal, Canada"
      desc="Worked on various front-end features using React and TypeScript"
    />
  </div>

  <!--<div class="mb-5">-->
  <!--  <div class="text-3xl w-full font-bold">Hackathons</div>-->
  <!--</div>-->

  <!--<ul class="list-disc mx-6 mb-10 grid gap-2">-->
  <!--  <li>-->
  <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
  <!--  </li>-->
  <!--</ul>-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technologies and Tools</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 my-2">
    <li>DSP</li>
    <li>React</li>
    <li>Vue</li>
    <li>Android Development</li>
    <li>Unity</li>
    <li>Vim</li>
    <li>JetBrain IDEs</li>
    <li>Azure</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Programming Languages</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-2">
    <li>C++/C</li>
    <li>Javascript/TypeScript</li>
    <li>Java</li>
    <li>Kotlin</li>
    <li>Python</li>
    <li>C#</li>
    <li>GoLang</li>
    <li>SQL</li>
  </ul>
</BaseLayout>
